body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 8% auto;
    border-radius: 10px;
    padding: 2%;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #52708f;
}

#response {
    margin-top: 20px;
}